body {
  margin: 0;
  font-family: Arial;
  background: #f4f4f4;
}

.container {
  padding: 20px;
}

h1 {
  text-align: center;
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

button {
  padding: 10px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.detail {
  padding: 20px;
}